/* Landing.css */
.page-container {
    min-height: 100vh;
    padding: 20px;
    background-color: #EBDFAF;
    display: flex;
    flex-direction: column; /* Cambiado a column */
    justify-content: center;
    align-items: center;
    position: relative; /* Añadido */
    margin-top: 1%;
}

.landing-container {
    width: 200vh;
    height: 90vh;
    background-image: url(../../../assets/img/sushi8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 175px 175px 20px 20px;
    overflow: hidden;
    position: relative;
}

.landing-content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.landing-title {
    position: absolute; /* Cambiado a absolute */
    z-index: 2; /* Mayor que el z-index del contenido */
    font-family: 'Tilt Warp', sans-serif;
    color: black;
    font-size: 18rem;
    text-transform: lowercase;
    letter-spacing: 2px;
    
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar perfectamente */
    margin: 0; /* Eliminar margen */
    
    white-space: nowrap; /* Añade esta línea */
}